node_modules/
super/
.env
*.pyc
__pycache__
.DS_Store
release/
build/
dist/
config/settings*.json
test/
uploaded_files/
kb/
build_python.spec
package-lock.json
server.build/
server.dist/
tiktoken_cache/
agents/