fastapi 
uvicorn[standard]
openai
tzlocal
python-multipart
requests
PyPDF2
python-docx
openpyxl
striprtf
odfpy
aiohttp
duckduckgo_search
python-pptx
langchain_community
pywin32; sys_platform == 'win32'