fastapi 
uvicorn[standard]
openai
tzlocal
python-multipart
requests
PyPDF2
python-docx
openpyxl
striprtf
odfpy
aiohttp
duckduckgo_search
python-pptx
tavily-python
pywin32; sys_platform == 'win32'
bs4
browser-use
langchain_openai